.prdct-lst-right{
    color: #3F4646;
 font-family: "Inter", sans-serif;
font-size: 1.2rem;

font-weight: 600;
}


.prdct-lst-right button{
  


border-radius: 0.5rem;
background: #F6F6F6;
width: 5rem;
height: 2rem;

color: #3C4242;
text-align: center;

font-size: 0.8rem;

font-weight: 700;


}
@media(max-width:768px){
    .prdct-lst-right{
        margin-right: 5px;
    }
}
/* Product_List_Right.css */
.filled-heart {
    color: red;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .filled-heart.large {
    transform: scale(1.2);
  }
  
  /* Add a celebration animation only for the heart icon */
  @keyframes heartCelebration {
    0% {
      transform: scale(1);
      opacity: 0;
    }
    50% {
      transform: scale(1.5);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
  
  /* Apply the heart celebration animation to the heart icon */
  .heart-celebrating {
    animation: heartCelebration 1s ease-in-out;
  }
  