.product-list-page{
    font-size: 0.8rem;
    font-family: "Inter", sans-serif;
}
.left-section-product-list{
    width: 18rem;
    border: 1px solid #BEBCBD;
    color: #807D7E;
    
}
.left-section-product-list h5{
    font-size: 1rem;
}
.left-section-product-list hr{
    background-color: #BEBCBD;
    width: 100%;
    margin: 0; 
    width: calc(100% + 2rem);
    margin: 0 -1rem;
}
.plp-dropdown-content{
 
  text-align: center;
 width:100%;
 
 line-height: 20px;
 font-size: 0.7rem!important;
 
 
}
.plp-btn{
      font-size: 1rem;
}
.left-section-product-list input[type="number"]{
    width: 4rem;
height: 2rem;
border-radius: 0.5rem;
border: 1px solid #BEBCBD;
text-align: center;



}

.left-section-product-list input[type="range"] {
  
  background-color: #8A33FD!important;
  
  
  height: 6px;
  width: 100%;
}


input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px; 
  background-color:#8A33FD; 
  border: none; 
  border-radius: 50%; 
}
.plp-clrs span{
  width: 2rem;
  height: 2rem;
  border-radius: 0.75rem;
}
.plp-clrs p{
  color: #8A8989;
  font-size: 0.7rem;
}
.plp-size-drp button{
  width: 3rem;
height: 2rem;
border-radius: 0.5rem;
border: 1px solid #BEBCBD;
}
/* .pll-bottom-button{
  
  display: none;
} */




@media(max-width:768px){
.prdct-lst-right{
  padding: 0 10px;
 ;
}
.left-section-product-list{
  margin-left: 5px;
}

@media(max-width:426px){
  .left-section-product-list{
 width: 100%;
 margin-left: 3px;
 margin-right: 3px;
}


}



}
/* @media(max-width:425px){
  
  .pll-bottom-button{
  display: block;
  margin: 0!important;
  display: flex;
  height: 40px;
  justify-content: center;
  font-weight: 600;
 
}
} */


/* @media(max-width:425px){
  .left-section-product-list{
    display: none;
  }
} */

@media(max-width:426px){
.plp-dropdown-content{
width: 30%!important;
}}
