.star{
   
    display: flex;
    margin-left: 6.5rem;
    margin-top: -1.3rem;

    
}
.container{
margin-left: 2rem;
}
.head{
    display: inline;
    margin-left: rem;
}
.best{
    
    font-size: 20px;
    color: #045A11;

font-weight: 400;
margin-left: 3rem;

}
.mn-img{
    height: 30rem;
    margin-left: 1rem;
}
.mn-img1,.mn-img2,.mn-img3{
    height: 30rem;
    margin-left: -2rem;
    

}

.cards{
    margin-top: -4rem;
    margin-left: -3rem;
}

img{
    background-color: #045A11;
}

.card1{

    margin-left: 2rem;
    border-radius: 24.998px;
    
    
   


}
.card2,.card3,.card4{
   
    margin-left: 2rem;
    margin-top: 2rem;
   
}
.filter-btn{
    background-color: #FD7B85;
    color: white;
    border: white;
    width: 6rem;
    height: 1.5rem;
    border-radius: 10px;
    margin-right: 2rem;

 
   

display: flex;
padding-left:3rem;

font-size: 1.1rem;



   
   
}
.ftr-icon{
    margin-left: -5rem;
    padding-left: 3rem;
    

}
.filter{
    display: flex;
    justify-content: end;
    margin-top: -1.3rem;
    
    
}
.title{
    font-size: 30px;
    color: #045A11;

font-weight: 400;
margin-left: 7rem;
margin-top: -5rem;

}
.ofr{
    background-color: #045A11;
    border-radius: 24.998px;
}
.off-text{
    font-size: 50px;
   
}
.ofr-card{
    margin-top: -4rem;
    margin-left: -3rem;
}
.offr-crd{
    width: 1358px;
    height: 432px;
    object-fit: cover;
    

 
}
.smcards{
   display: flex;
   margin-top: -8rem;
   margin-left: 4rem;

   flex-wrap: wrap;

}
.cpn-card{
    width: 420px;
height: 200px;
margin-left: 1rem;
margin-top: 1rem;
padding-top: 5rem;
color: white;
font-size: x-large;

border-radius: 24.998px;
background: #045A11;
text-align: center;


}
.by-card{
   margin-left: 1rem;
   margin-top: 1rem;
width: 870px;
height: 416px;
border-radius: 24.998px;
background: #045A11;
text-align: center;
padding-top: 15rem;
font-size: 50px;
color: white;

}
.collections{
   

}
.clction-title{
    margin-top: 2rem;
    font-size: 30px;
    color: #045A11;
    margin-left: 5rem;
    font-weight: 400;
}
.clc-cards{
  margin-left: 1rem;
  margin-top: -4rem;
   
  
}
.clc-img{
    height: 30rem;
}
.clc-card{
   

}



