
 .pll-bottom-button button{
  
  display: flex!important;
} 
.Product_List_Left {
  display: block; /* Show by default */
}





.sort-dropdown p{
font-size: 0.8rem;
line-height: 30px;
text-align: left;
cursor: pointer;
color: #807D7E;

}
@media(max-width:768px){


}
@media(min-width:426px){

  .pll-bottom-button button{
  display: none!important;
  margin: 0!important;
  display: flex;
  height: 40px;
  justify-content: center;
  font-weight: 600;
 
}
 

}
@media(max-width:350px){
.sort-dropdown{
  padding: 8px  8px;
}
}
