
.signup{
font-family: 'Inter', sans-serif;
}
.signup h1{
  font-family: 'Open Sans', sans-serif;
  color: #333;

font-size: 2.125rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.signup p{
  color: rgba(102, 102, 102, 0.80);

font-size: 1rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.google-signup,
.twitter-signup{
  display: flex;
width: 35rem;
padding: 1rem 1.25rem;
justify-content: center;
align-items: center;
gap: 0.75rem;
border-radius: 0.5rem;
border: 1px solid #3C4242;
color: #FD7B85;
font-size: 1.3rem;

}
.signup h2{
color: #807D7E;

font-size: 1.1rem;
}
.signup input{
  border-radius: 0.5rem;
border: 1px solid #3C4242;
height: 50px;
}
.signup input::placeholder{
  color: #807D7E;
padding: 20px;

font-size: 0.875rem;
}
.signup h3{
  color: #EE1D52;

font-size: 1rem;



}













































/* 






.register{

    flex-wrap: wrap;
    justify-content:center ;
    }
    .register-title{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
    }
   
    .register-text{
    align-items: center;
    margin-top: 13rem;
    display: flex;
    color: #272727;
    font-family: Readex Pro;
    font-size: 5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
    }
    .register-input{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    
    }
    .email-input{
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .email{
        align-items: center;
        background-color: white;
        border-color: white;
        width:36vw;
        height: 5vw;
        border-bottom: 1px solid grey;
    }
    
    .pswrd-input{
    display: flex;
    flex-direction: column;
    width: 10rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    }
    .pswrd{
        width:36vw;
        height: 5vw;
        border-bottom: 1px solid grey;
    
    }
    input{
        border-bottom: #272727;
    }
    
    
    input[type="email"] {
        background-color: white;
    ;
      }
      input[type="password"] {
        background-color: white;
      
      }
      .ggle-fb-btns{
        display: flex;
        justify-content: center;
        margin-top: 3rem;
      }
    
      .google-btn{
     background-color:#045A11 ;
     width: 18vw;
     height: 7vw;
     color: #FFF;
    font-family: Inter;
    font-size: 4vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 30px;
      }
      .or{
      margin-top: .5rem;
      font-size: 3vw;
    
      }
     
      .face-btn{
        background-color: #272727;
        width: 18vw;
     height: 7vw;
     color: #FFF;
    font-family: Inter;
    font-size: 4vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 30px;
      }
    */