.signup {
  font-family: "Inter", sans-serif;
  max-height: 250vh;
  margin-bottom: 20px;
  
}
.signup h1 {
  font-family: "Open Sans", sans-serif;
  color: #333;
  font-size: 2.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.signup h5 {
  color: rgba(102, 102, 102, 0.8);

  font-size: 1rem;
 
  font-weight: 500;
 
}
.google-signup,
.twitter-signup {
  display: flex;
  width: 100%;
  padding: 1rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #3c4242;
  color: #fd7b85;
  font-size: 1.3rem;
}
.signup label {
  color: #807d7e;
  font-size: 1.1rem;
}
.signup input {
  border-radius: 0.5rem;
  border: 1px solid #3c4242;
  height: 50px;
}
.signup input::placeholder {
  color: #807d7e;
  padding: 20px;
  font-size: 0.875rem;
}
.signup h3 {
  color: #ee1d52;
  font-size: 1rem;
}
.signup h4 {
  color: #807d7e;

  font-size: 1rem;
}
.signup-btm {
  color: #807d7e !important;

  font-size: 1.1rem !important;
}
.signup-button {
  border-radius: 0.5rem;
  background: #fd7b85;
  display: flex;
  width: 10rem;
  padding: 1rem 1.25rem;
  height: 3rem;
  margin-top: 3.5rem;
  font-size: 1.1rem;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  color: white;
}

@media (max-width: 1200px) {

  .google-signup{
    margin-top: 20px;
    
  }
  .google-signup,
  .twitter-signup {
    padding: 0.5rem 1rem;
 margin-top: 15px;
    font-size: 1.1rem;
  }
  .signup input {
  border-radius: 0.5rem;
  border: 1px solid #3c4242;
  height: 40px;
}
.signup label {
  color: #807d7e;
  font-size: 1rem;
}
.email-section-signup{
  margin-top: 15px;
}
.signup h4 {
  font-size: 0.9rem;
}
.pass-section-signup span{
  margin-top: 5px;
}
.signup-btm{
  font-size: 0.9rem!important; 
  margin-top: 2px;
}
.signup-btm-2{
  margin-top: -10px;
}
.signup-button{
  width: 8rem;
  padding: 1rem 1.25rem;
  height: 2.5rem;
  margin-top: 1rem;
  font-size: 1rem;
}
.signup h5 {
  font-size: 0.9rem;
}
}
@media (max-width: 947px) {
  .signup h1 {
  font-size: 1.7rem;
}
.signup h5 {
  font-size: 0.8rem;
  margin-top: -3px;
}
  .google-signup,
  .twitter-signup {
    padding: 0.1rem 1rem;
 margin-top: 10px;
    font-size: 0.9rem;
  }
   .signup input {
 
  
  height: 30px;
}
.signup label {
  font-size: 0.8rem;
}
.email-section-signup{
  margin-top: 5px;
}
.pass-section-signup span{
  margin-top: 0px;
}
.signup h3 {
  font-size: 0.8rem;
}
.signup h4 {
  font-size: 0.7rem;
}
.signup-btm{
  font-size: 0.7rem!important; 
  margin-top: 2px;
}
.signup-btm-2{
  margin-top: -10px;
}
.signup-button{
  width: 7rem;
  padding: 0.8rem 1rem;
  height: 2rem;
  margin-top: 0.5rem;
  font-size: 1rem;
}}
@media (max-width: 768px) {
  .register{
    padding: 0 10px;
  }
}
@media (max-width: 630px) {

.register-left{
  display: none;
}
.register-right{
  width: 80%;
  margin: auto;
  
}
.signup{
  width: 60rem!important;
}
.register{
  padding: 0px!important;
}
.google-signup,
  .twitter-signup {
    padding: 0.5rem 1rem;
  margin-top: 15px;
    font-size: 0.9rem;
  }
  .signup input {
 
  
  height: 40px;
}
.signup-btm-2{
  margin-top: -10px;
}
.signup-button{
  width: 7rem;
  
  height: 2.5rem;
  margin-top: 0.4rem;
  font-size: 1.1rem;
}
.email-section-signup{
  margin-top: 20px;
}
.pass-section-signup {
  margin-top: 10px;
}
}

@media (max-width: 375px) {

.signup-btm{
  font-size: 0.6rem!important; 
  margin-top: 2px;
}
  
   


}


