

.signup {
  font-family: "Inter", sans-serif;
  max-height: 250vh;
  margin-bottom: 20px;
}
/* .register-left img{
  width: auto;
  height: 95vh;
  margin: 0 auto;
} */
.signup h1 {
  font-family: "Open Sans", sans-serif;
  color: #333;
  font-size: 2rem!important;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.signup h5 {
  color: rgba(102, 102, 102, 0.8);

  font-size: 0.9rem;
 
  font-weight: 500;
 
}
.google-signup,
.twitter-signup {
  display: flex;
  width: 100%;
  
  padding: 1rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #3c4242;
  color: #fd7b85;
  font-size: 1.2rem;
  height: 50px;
}
.signup label {
  color: #807d7e;
  font-size: 1rem;
  font-weight: 400;
}
.signup input{
  border-radius: 0.5rem;
  border: 1px solid #3c4242;
  height: 50px;
}
.signup input::placeholder {
  color: #807d7e;
  padding: 20px;
  font-size: 12px;
}
.signup h3 {
  color: #ee1d52;
  font-size: 0.8rem;
}
.signup h4 {
  color: #807d7e;

  font-size: 0.8rem;
}
.signup-btm {
  color: #807d7e !important;

  font-size: 0.8rem !important;
}
.already-have-ac{
  font-size: 1rem;
}
.signup-button {
  border-radius: 0.5rem;
  background: #fd7b85;
  display: flex;
  width: 10rem;
  padding: 1rem 1.25rem;
  height: 3rem;
  margin-top: 1rem;
  font-size: 1.1rem;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  color: white;
}
@media (max-width: 1200px) {
  .signup{
    padding: 0 40px;
  }
  .google-signup{
    margin-top: 25px!important;
  }
  .google-signup,
  .twitter-signup {
    padding: 0.5rem 1rem;
    margin-top: 15px;
    height: 40px;
    font-size: 1rem;
  }
  .signup input {
  border-radius: 0.5rem;
  border: 1px solid #3c4242;
  height: 45px;
}
.signup label {
  color: #807d7e;
  font-size: 1rem;
}
.email-section-signup{
  margin-top: 25px;
}
.signup h4 {
  font-size: 0.9rem;
}
.pass-section-signup {
  margin-top: 20px;
}
.signup-btm{
  font-size: 0.9rem!important; 
  margin-top: 2px;
}
.signup-btm-2{
  margin-top: -10px;
}
.signup-button{
  width: 8rem;
  padding: 1rem 1.25rem;
  height: 2.5rem;
  margin-top: 1rem;
  font-size: 1rem;
}
.signup h5 {
  font-size: 0.8rem;
}
}
@media (max-width: 947px) {
   .signup{
    padding: 0 30px;
  }
  .signup h1 {
  font-size: 1.7rem;
}
.signup h5 {
  font-size: 0.8rem;
  margin-top: -3px;
}
  .google-signup,
  .twitter-signup {
    padding: 0.1rem 1rem;
 margin-top: 10px;
    font-size: 0.8rem;
  }
   .signup input {
 
  
  height: 30px;
}
.signup label {
  font-size: 0.8rem;
}
.email-section-signup{
  margin-top: 20px;
}
.pass-section-signup {
  margin-top: 10px;
}
.signup h3 {
  font-size: 0.7rem;
}
.signup h4 {
  font-size: 0.7rem;
}
.signup-btm{
  font-size: 0.7rem!important; 
  margin-top: 2px;
  
}
.signup-btm-2{
  margin-top: -10px;
}
.signup-button{
  width: 7rem;
  padding: 0.8rem 1rem;
  height: 2rem;
  margin-top: 0.5rem;
  font-size: 1rem;
}}
@media (max-width: 768px) {
     .signup{
    padding: 0 20px;
  }
  .register{
    padding: 0 5px;
  }
  .signup-btm{
  font-size: 0.6rem!important; 
  
}

}
@media (max-width: 630px) {
     .signup{
    padding: 0 40px;
  }

.register-left{
  display: none;
}
.register-right{
  width: 100%;
  margin: auto;
  
}
.signup h1{
  font-size: 1.7rem!important;
}

.signup{
  width: 60rem!important;
}
.regi ster{
  padding: 0px!important;
}
.google-signup img,
  .twitter-signup img {
width: 1rem;
  }
.google-signup,
  .twitter-signup {
    padding: 0.4rem 0.8rem;
   margin-top: 15px;
    font-size: 12px;
  }
  .signup input {
  height: 40px;
}
.email-section-signup label, .pass-section-signup label{
  font-size: 12px;
}
.signup-btm-2{
  margin-top: -10px;
}
.signup-button{
  width: 7rem;
  
  height: 2.5rem;
  margin-top: 0.4rem;
  font-size: 1.1rem;
}
.email-section-signup{
  margin-top: 20px;
}
.email-section-signup h3,
.pass-section-signup h4,
.signup-btm {
font-size: 10px;
}
.pass-section-signup {
  margin-top: 10px;
}
.already-have-ac{
  font-size: 12px;
}
}
@media (max-width: 375px) {
     .signup{
    padding: 0 20px;
  }
.signup-btm{
  font-size: 10px!important; 
  margin-top: 2px;
}
.signup h1{
  font-size: 1.5rem!important;
}
}


