
.caption {
   align-items: center;
}

.top-bottom-line{
color: #045A11;
font-family: Roboto;
font-size: 4rem;

}
.centre-line{
color: #045A11;
font-family: Roboto;
font-size: 4rem;
font-weight: 600;


}
.home-top-pic{


}

