.logo {
  width: 9rem;
  height: 4rem;
  margin-top: 1.5rem;
}
.navbar {
  z-index: 900;
}

.box {
  width: 160px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 23px;
  display: flex;
  box-shadow: 2.2409346103668213px 7.8432698249816895px 20.07301902770996px -10.948919296264648px
    rgba(0, 0, 0, 0.25);
  font-family: "Poppins";
}

.bottom-nav {
  color: #045a11;
  font-weight: 400;
}
.nav-icon {
  width: 1.7rem;
}
.nav-icon-top {
  width: 1.7rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0 1rem;
  }
}
@media (max-width: 620px) {
  .bottom-nav {
    padding-top: 0.7rem;
  }
  .box {
    width: 6rem;

    height: 2rem;
    font-size: 0.6rem;
  }
  .nav-icon {
    width: 1.2rem;
  }
}

@media (max-width: 425px) {
  .navbar {
    padding: 0 0.5rem;
  }
  .logo {
    width: 4rem;
    height: 2rem;
  }
  .nav-icon-top {
    width: 1rem;
  }
  .icons {
    gap: 0.7rem;
    width: 98px;
  }
  .box {
    width: 3.9rem;
    box-shadow: 0px 3.292924404144287px 4.390565872192383px 0px
      rgba(0, 0, 0, 0.25);
    gap: 0.3rem;
    height: 1.1rem;
    font-size: 0.4rem;
  }
  .nav-icon {
    width: 0.8rem;
  }
  .bottom-nav {
    padding-top: 0.1rem;
  }
}
