.add-address-right{
    font-family: "Open Sans", sans-serif;
    color: #3C4242;
}

.add-address-right h1{

font-size: 1.75rem;
font-style: normal;
font-weight: 700;
line-height: 2.2rem; 
letter-spacing: 0.035rem;



}
.add-address-right h2{
    font-size: 1.3rem;
    font-weight: 700;

}