.paths{
    display: flex;

  
}

.home,.myacnt{
    color: #807D7E;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.chk-path-icon{
    width: 5px;
height: 10.143px;
fill: #807D7E;
margin-top:5px ;
}
.dtls-smry{
    display: flex;
    flex-wrap: wrap;
    
   
    
}

.chkout{
    color: #3C4242;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.chk-bill-dtls{
margin-top: 3rem;
width: 50%;
}
.bill-head{


display: flex;
}
.bill-line{
    width: 6px;
height: 28px;
border-radius: 10px;
background: #FD7B85;
}
.bill-title{
    float: left;
    color: #3C4242;
font-family: Open Sans;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 33.5px; /* 119.643% */
letter-spacing: 0.56px;
}
.scnd-bill-title{
    margin-top: 6px;
    float: left;
    color: #3C4242;
font-family: Open Sans;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 33.5px; /* 152.273% */
letter-spacing: 0.44px;
}
.bill-input{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    flex-wrap: wrap;
}
.bill-input-title{
    float: left;
    color: #3C4242;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.32px;
    
}
.bill-input-name{
    display: flex;
    width: 362px;
    padding: 16px 20px;
    align-items: center;
    gap: 12px;
    margin-top: rem;
    float: left;
}
.city-state{
    display: flex;
    float: left;
    margin-top: 2rem;
}
.bill-input-city{
    display: flex;
    width: 202px;
    padding: 16px 20px;
    align-items: center;
    
    margin-top: 3rem;
    height: 10px;
    float: left;
}
.bill-input-state{
    display: flex;
    width: 202px;
    padding: 16px 20px;
    align-items: center;
    gap: 12px;
    margin-top: 3rem;
}
.bill-inpt-main{
    display: flex;
  

}
.ordr-smry{
   
    flex-wrap: wrap;

}
.smry-title{
    color: #3C4242;
font-family: Open Sans;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.bill-main{
    display: flex;
}
.bill-title{
    color: #3C4242;
font-family: Open Sans;
font-size: 22px!important;
font-style: normal;
font-weight: 700;
line-height: 33.5px; /* 152.273% */
letter-spacing: 0.44px;
}
.chck-title{
    color: #3C4242!important;
font-family: Open Sans;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 33.5px; /* 119.643% */
letter-spacing: 0.56px;
}
.bill-main-title{
    display: flex;
}
.bill-inpt{
display: flex;
flex-direction: column;
}
.bill-input-1,.bill-input-2,.bill-input-3{
    display: flex;
    flex-wrap: wrap;
    margin-top: rem;
    padding-top: 3rem;
    
   
}
.bill-input-4{
    display: flex;
    flex-wrap: wrap;
}
.bill-inpt-title{
    float: left;
    color: #3C4242;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.32px;
}
.bill-inpt-title1{
    float: left;
    color: #3C4242;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.32px;
margin-left: 10px;
}
.bill-inpt-title2{
    float: left;
    color: #3C4242;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 0.32px;
margin-top: 1rem;
}
.bill-input-box{
    display: flex;
    width: 246px;
    padding: 16px 20px;
    align-items: center;
    gap: 12px;
    background-color: #807D7E;
    margin-top: 1rem;
    border-radius: 8px;
background: #F6F6F6;
}
.bill-input-box1{
    width: 246px;
    padding: 16px 20px;
    align-items: center;
    gap: 12px;
    background-color: #807D7E;
    margin-left: 8px;
    border-radius: 8px;
background: #F6F6F6;
margin-top: 1rem;
}
.bill-input-box2{
    display: flex;
    width: 246px;
    padding: 16px 20px;
    align-items: center;
    gap: 12px;
    background-color: #807D7E;
    margin-left: 8px;
    border-radius: 8px;
background: #F6F6F6;
margin-top: 1rem;
}
.bill-input-box1{
    width:150px
}
.smry-images{
    display: flex;
   
    
    
}
.smry-image-title{
    color: #3C4242;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.28px;
}
.smry-image{
    display: flex;
width: 57px;
height: 63px;
padding-right: 0px;
align-items: center;
gap: 15px;
flex-shrink: 0;
object-fit: contain;
}
.smry-img-color{
    color: #3C4242;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 0.28px;
}
.smry-image-clr{
   display: flex;
   flex-direction: column;
    
}
.smry-main{
    display: flex;
    margin-top: 2rem;
  
}
.smry-titlee{
    display: flex;
    flex-direction: column;

}
.smry-rate{
    display: flex;
    margin-top: 2rem;
}

.subtotal-bill{
    margin-top: 3rem;
}
.subttl-bill{
    display: flex;
}

.savings{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

.shipping{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}
.total-bill{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}
.dlvry-btn{
    display: flex;
    padding: 16px 20px;
    justify-content: center;
    align-items: center;
    gap: 12px; 
    border-radius: 8px;
background: #FD7B85;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.bill-adress{
    border-radius: 12px;
    background: #F6F6F6;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    
    
}

.ship-adress{
    color: #3C4242;
font-family: Open Sans;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 33.5px; /* 152.273% */
letter-spacing: 0.44px;
margin-top: 4rem;
}
.adrs-text{
    color: #3C4242;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 1rem;
    
}
.same-as{
    display: flex;
    padding-top: 1.5rem;
}
.same-text{
    color: #3C4242;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.use-dif{
    display: flex;
    margin-top: 2rem;
    align-items: center;
   
    
}
.use-dif-text{
    color: #3C4242;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
.adr-hr{
    margin-top: 2rem;
}
.save-input{
    display: flex;
    margin-top: 2rem;

}
.save-chkout{
   
width: 18px;
height: 18px;
background-color:#BEBCBD ;
}
.save-text{
    color: #3C4242;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.shpng-title{
    color: #3C4242;
    font-family: Open Sans;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 33.5px; /* 152.273% */
    letter-spacing: 0.44px;  
    margin-top:4rem;
}
.arvs{
    margin-top: 3rem;
    color: #3C4242;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
padding-bottom: 1.5rem;
}
.shp-mthd-arv{
    height: 189px;
    border-radius: 12px;
    background: #F6F6F6; 
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
  

}
.delivery-charge{
    display: flex;
    padding-top: 1.5rem;
 justify-content: space-between;
}
.dlvry-charge{
    color: #3C4242;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.dlvry-chrg{
    color: #3C4242;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;


}
.fees{
    color: #807D7E;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
    margin-top: 1rem;
}
.payment-method{
    color: #3C4242;
font-family: Open Sans;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 33.5px; /* 152.273% */
letter-spacing: 0.44px;
margin-top: 4rem;
}
.payment-sub-title{
    color: #3C4242;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 5px;
}
.credit-card{
    display: flex;
    margin-top: 4rem;
}
.credit-title{
    color: #3C4242;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.credit-input{
  
background-color: #3C4242;

}
 

.crdt-text{
    color: #3C4242;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 5px;
}
.credit-crds{
    display: flex;
    margin-top: 3rem;
}
.crdt-inpt{
    display: flex;
    flex-wrap: wrap;
}
.crdt-inpt1{
    display: flex;
    flex-wrap: wrap;
}
.cash-on{
    display: flex;

}
.pay-pol{
    display: flex;
}
.play-now{
    width: 155px;
    height: 10px;
    display: inline-flex;
padding: 16px 20px;
justify-content: center;
align-items: center;
gap: 12px;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
border-radius: 8px;
background: #FD7B85;
margin-top: 3rem;
}
.card-num{
    display: flex;
width: 337px;
padding: 18px 20px;
align-items: center;
gap: 190px;
border-radius: 8px;
border: 1px solid #3C4242;
}
.card-name{
    display: flex;
    width: 337px;
    padding: 18px 20px;
    align-items: center;
    gap: 190px;
    border-radius: 8px;
border: 1px solid #3C4242;
}
.crdt-inpt1{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
}
.date-birth{
    display: flex;
    width: 337px;
    padding: 18px 20px;
    align-items: center;
    gap: 190px;
    border-radius: 8px;
border: 1px solid #3C4242;  
}
.scrty-code{
    display: flex;
    width: 337px;
    padding: 18px 20px;
    align-items: center;
    gap: 190px;
    border-radius: 8px;
border: 1px solid #3C4242;  
}
.scrt{
    display: flex;
  
    flex-wrap: wrap;
}
.crd-info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.cash-on{
    margin-top: 3rem;
}
.cash-title{
    color: #3C4242;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.cash-text{

color: #3C4242;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 5px;
}
.pay-pol{
    margin-top: 2rem;
}
.cash-hr{
    margin-top: 2rem;
}
.pay-pol-title{
    color: #3C4242;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.smry-title{
    color: #3C4242!important;
font-family: Open Sans;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.scrt-code{
    display: flex;
    position: relative;
    justify-content: end;
    align-items: center;

}
.scrt-img{
    position: absolute;
    padding-right: 3px;
    
}
@media(max-width:1024px){
  .bill-main{
    display: flex;
    justify-content: center;
  }  
  .bill-section{
    width: 100%;
  }
  .bill-sec{
    
    display: flex;
    flex-direction: column;

  }
  .bill-titl{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bill-main-title{
    display: flex;
    justify-content: center;
  }
  .bill-input-1,.bill-inpt,.bill-input-2,.bill-input-3,.bill-input-4,.chk{display: flex;
    justify-content: center;

  }
  .smry-sec{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .smry-ttl{
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
  margin-top: 2rem;
}
  .smry-title{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .smry-main{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .subtotal-bill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  .cnt-button,.save-input,.same-as,.use-dif{
    display: flex;
    justify-content: center;
  }
  .credit-card{
    display: flex;
    justify-content: center;
  }
  .credit-crds,.crdt-inpt,.crdt-inpt1,.cash-on,.pay-pol,.play-btn{
    display: flex;
    justify-content: center;
  }
  
 
 
}

@media(max-width:431px){

.smry-title{
    font-size: 20px;
    margin-top: -10px;
}
.smry-main{
    margin: 0 auto;
    
}
.smry-image-title,.smry-img-color{
    font-size: 12px;
}
.smry-img-color{
    text-align: left!important;
}
.smry-img-rate{
    font-size: 12px;
}








    .home,.myacnt,.chkout{
        font-size: 12px;
     
        
    }
    .chk-path-icon{
        width: 3px;
        height: 8.143px;
        margin-top: 3px;
      
    }
    .checkout{
        padding: 0 ;
    }







   
}