
.sidebar {
  position: fixed;
  width: 25rem;
  height: 100vh;
  background-color: #fff;
  margin-right: 2rem;
  border-radius: 1.625rem;
  z-index: 1000;
  animation-name: slideSidebar;
  animation-duration: 0.8s;
  transition: right 0.8s ease-in-out;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; 
  margin-right: 0;
  position: fixed;
  
}

@keyframes slideSidebar {
  from {
    right: -100%; 
  }
  to {
    right: 0; 
  }
}
@keyframes slideSidebarClose {
  from {
    right: 0; 
  }
  to {
    right: -100%;
  }
}
.sidebar.open {
  right: 0;
  top: 0;
  
 animation-name: slideSidebar;
}
.sidebar.closed {
 
  animation-name: slideSidebarClose; 
}
.sidebar .list img{
  width: 2rem;
  height: 2rem;
}
.order-img,
.channel-img {
  width: 3rem;
  
}
.sidebar ul li{
  
  display: flex;
  align-items: center;
  padding: 20px 0;
  margin-top: 2.1rem;
  width: 100%;
 padding-left: 20px;
 gap: 1rem;
 
  
 
}
.sidebar ul li:hover{
  background-color:rgb(230, 227, 227) ;
}

.sidebar li h1 {
  color: #045a11;
  font-family: "Readex Pro", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}
.sidebar ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.close {
  position: absolute;
  right: 0;
  top: 1;
  width: 3rem;
  height: 2.875rem;
  flex-shrink: 0;
  background: #fd7b85;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  cursor: pointer;
}
.list {
  padding-top: 2rem;
}
.overflow-hidden {
  overflow: hidden;
}
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    width: 20rem;
    height: 100vh;
    border-radius: 0.71588rem;
    background-color: #fff;
    transition: right 0.3s ease-in-out;
    overflow: hidden;
    z-index: 1000;
    
  }
  .sidebar .list img {
    width: 1.5rem;
    height: 1.5rem;
  }
  .close-img{
    width: 1.2rem;
  }
  .sidebar .list h1 {
    font-size: 1rem;
  }
  .sidebar ul li {
   
  padding: 15px 0;
  margin-top: 1.5rem;
  
 padding-left: 15px;
 gap: 1rem;
  }
  .close {
    top: 0;
    width: 2rem;
    height: 2rem;
    margin: 2rem;
  }
  .list {
    padding-top: 2.5rem;
  }
  .order-img,
  .channel-img {
    width: 2rem;
    height: 2rem;
  }
}
@media (max-width: 426px) {
  .sidebar {
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 100%;
    height: 100vh;
    border-radius: 0.71588rem;
    background-color: #fff;
    transition: right 0.3s ease-in-out;
    overflow: hidden;
    z-index: 1000;
  
  }
  .close-img{
    width: 0.8rem;
  }
  
  .sidebar .list img {
    width: 1.2rem;
    height: 1.2rem;
  }
 .sidebar .list h1 {
    font-size: 0.8rem;
  }
  .sidebar ul li {
    padding-left: 1rem;
      
    
    margin-top: 1rem;
    gap: 1.5rem;
  }
  .close {
    top: 0;
    width: 1.32163rem;
    height: 1.26656rem;
    margin: 1rem;
  }
  .list {
    padding-top: 2rem;
  }
  .order-img,
  .channel-img {
    width: 1.14231rem;
    height: 1.06381rem;
  }
  
}
@media (min-width: 2560px) {
.sidebar{
  margin-right: 1rem;
}
}