
.sidebar {
  position: absolute;
  width: 23rem;
  height: 35rem;
  background-color: #fff;
  margin-right: 2rem;
  overflow: hidden;
  border-radius: 1.625rem;
  z-index: 1000;
  animation-name: slideSidebar;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; 
  
}
@keyframes slideSidebar {
  from {
    right: -100%; 
  }
  to {
    right: 0; 
  }
}
@keyframes slideSidebarClose {
  from {
    right: 0; 
  }
  to {
    right: -100%;
  }
}
.sidebar.open {
  right: 0;
  top: 0;
 animation-name: slideSidebar;
}
.sidebar.closed {
  border: none; 
  animation-name: slideSidebarClose; 
}
.order-img,
.channel-img {
  width: 3rem;
}
li {
  display: flex;
  margin-top: 1rem;
  padding-left: 2.5rem;
  gap: 2rem;
  margin-top: 1.2rem;
}
li h1 {
  color: #045a11;
  font-family: "Readex Pro", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
}
ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.close {
  position: absolute;
  right: 0;
  top: 1;
  width: 3rem;
  height: 2.875rem;
  flex-shrink: 0;
  background: #fd7b85;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
  cursor: pointer;
}
.list {
  padding-top: 5rem;
}
@media (max-width: 768px) {
  .sidebar {
    position: absolute;
    width: 20rem;
    height: 28rem;
    border-radius: 0.71588rem;
    background-color: #fff;
    transition: right 0.3s ease-in-out;
    overflow: hidden;
    z-index: 1000;
    margin-right: 1rem;
  }
  li img {
    width: 2.1rem;
    height: 2rem;
  }
  li h1 {
    font-size: 1.4rem;
  }
  li {
    padding-left: 2rem;
    margin-top: 1.4rem;
    gap: 1rem;
  }
  .close {
    top: 0;
    width: 2rem;
    height: 2rem;
    margin: 2rem;
  }
  .list {
    padding-top: 2.5rem;
  }
  .order-img,
  .channel-img {
    width: 2rem;
    height: 2rem;
  }
}
@media (max-width: 426px) {
  .sidebar {
    position: absolute;
    width: 10.01844rem;
    height: 15.22619rem;
    border-radius: 0.71588rem;
    background-color: #fff;
    transition: right 0.3s ease-in-out;
    overflow: hidden;
    z-index: 1000;
    margin-right: 0.1rem;
  }
  li img {
    width: 1.14231rem;
    height: 1.06381rem;
  }
  li h1 {
    font-size: 0.78113rem;
  }
  li {
    padding-left: 1rem;
    margin-top: 0.5rem;
    gap: 0.5rem;
  }
  .close {
    top: 0;
    width: 1.32163rem;
    height: 1.26656rem;
    margin: 1rem;
  }
  .list {
    padding-top: 2.5rem;
  }
  .order-img,
  .channel-img {
    width: 1.14231rem;
    height: 1.06381rem;
  }
  
}
