.snd-btn-psswd{
    margin-top: 40px!important;
}
.reset-pass-input{
    border-color: #fd7b85!important;
    height: 45px!important;
}
.reset-pass-input::placeholder{
    color: #fd7b85!important;
    
}
@media(max-width:425px){
    .reset-pass-input{
  
    height: 40px!important;
  
}


}