.product-image {
  object-fit: cover;
  width: 628px;
  height: 697px;
}
.small-rect {
  width: 6.9375rem;
  height: 0.375rem;
  background: #d9d9d9;
  margin-top: 1.2rem;
  margin-bottom: 0.7rem;
}
.big-rect {
  width: 6.75rem;
  height: 4.1875rem;
  background: #d9d9d9;
  margin-bottom: 2.1rem;
}
.product-right {
  padding-left: 4.5rem;
  font-family: "Readex Pro", sans-serif;
}
.product-right h1 {
  color: #b0b0b0;
  font-size: 2.5rem;
  font-weight: 400;
}
.product-right p {
  color: #bebebe;
  font-size: 1.25rem;
  font-weight: 400;
}
.paths{
  display: flex;
  
  
}
.path{
  color: #807D7E;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.path-arrow{
  height: 10px;
  margin-top: 5px;
}
.slider{
  display: flex;
  align-items: center;
  column-gap: 9px;
  overflow-x: scroll;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  justify-content: center;
  margin-top: 1rem;

}
.slide{
  scroll-snap-align: center;
  min-width: 10%;

}


.slide-img{
  width: 68.039px;
  height: 68.039px;
  object-fit: cover;
  border-radius: 8px;
}
.slider-icons{
  display: flex;
}
.prdct-t{
 
  color:#3C4242!important;
font-family: Open Sans;
font-size: 34px;
font-style: normal;
font-weight: 700;
line-height: 140%; /* 47.6px */
letter-spacing: 0.68px;
}
.prdct-dtls {
  margin-top: 2rem;
  display: flex;
 
}
.prdct-star{
  width: 22px;
height: 22px;
}
.rating{
  color: #807D7E;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.msg-icon{
  width: 20px;
height: 17.689px;
flex-shrink: 0;
stroke-width: 1.5px;
stroke: #807D7E;
}
.cmt{
  color: #807D7E;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.slct-sizes{
  display: flex;

  align-items: center;
  margin-top: 2rem;
}
.slct-size{
  color: #3F4646!important;
font-family: Inter;
font-size: 18px!important;
font-style: normal;
font-weight: 600;
line-height: normal;

}
.size-guide{
  color: #807D7E;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.size-guide-icon{
  width: 13.586px;
height: 12px;
stroke-width: 1.8px;
stroke: #807D7E;
}


.price img {
  width: 2.8rem;
  height: 2.8rem;
  margin-right: 0.45rem;
}
.price {
  padding: 1rem 0;
}
.color h1 {
  font-size: 2rem;
}
.color h2 {
  font-size: 2rem;
  color: #bebebe;
  font-weight: 600;
  margin-left: 1.5rem;
}
.size {
  margin: 4rem 0;
  width: 37rem;
}
.size h1 {
  color: #b0b0b0;
  font-size: 2rem;
  margin-right: 4rem;
}


.size-box-s,.size-box-m,.size-box-xl {
  width: 42px;
  height: 42px;
  color: #3C4242;
text-align: center;
font-family: Inter;
font-size: 14px;
font-style: normal;
align-items: center;
justify-content: center;
display: flex;
border-radius: 12px;
font-weight: 500;
line-height: normal;
border-width: 1px;
background-color: white;
}
.size-box-large{
  width: 42px;
  height: 42px;
  color: white;
text-align: center;
font-family: Inter;
font-size: 14px;
font-style: normal;
align-items: center;
justify-content: center;
display: flex;

font-weight: 500;
line-height: normal;
border-width: 1px;
border-radius: 12px;
background: #3C4242;
}
.color-title{
  color: #3F4646!important;
  font-family: Inter;
  font-size: 18px!important;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.clr-icon{
  width: 30px;
height: 30px;
margin-top: 1.5rem;
}
.size p {
  font-size: 0.94rem;
  margin-left: 3.5rem;
  font-weight: 300;
}
.rgt-arrow {
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 0.5rem;
}
.addtobag {
  width: 18rem;
  height: 3.4rem;
  border-radius: 8px;
  background: #FD7B85;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
cursor: pointer;
}
.rate-btn{
  width: 10rem;
  height: 3.4rem;
  border-radius: 8px;
  
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3C4242;
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
border-width:2px ;
border-color: #000;
}

.bag img {
  margin-left: 1.7rem;
}
.hr{
  margin-top: 2.5rem;
}
.delivery{
  margin-top: 1.5rem;
  float: left;
}
.payment{
  display: flex;
  align-items: center;
  color: #3C4242;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.size-fit{
  display: flex;
  align-items: center;
  color: #3C4242;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.delivery p {
  color: #000;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
}
.delivery a {
  color: #000;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  text-decoration: underline;
}
.last-prdct-dtls {
  margin-top: 2rem;
}
.last-prdct-dtls h3 {
  color: #b0b0b0;
  font-size: 0.9375rem;
  width: 7.5rem;
  font-weight: 400;
  margin-top: 0.8rem;
}
.last-prdct-dtls img {
  width: 0.625rem;
  height: 0.625rem;
  margin-top: 1.1rem;
}
.description-similar{
  display: flex;
  
flex-wrap: wrap;
  flex-direction: row;
}
.product-description{
  display: flex;

  flex-direction: column;
  width: 40%;
  margin-top: 5rem;
}
.prdct-description-title{
  display: flex;
  flex-wrap: wrap;
}
.desctn-line{
  Width:
6px;
Height:
28px;
Top:
1px;
border-radius:
10px;
background-color: #FD7B85;
;
}
.prdct-desptn-title{
  color: #3C4242;
font-family: Open Sans;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 33.5px; /* 119.643% */
letter-spacing: 0.56px;
}
.desptn{
  color: #807D7E;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25px; /* 156.25% */
letter-spacing: 0.32px;
margin-top: 4rem;
}
.desptn-table{
 margin-top: 11rem;
}
.first-row{
  display: flex;


}
.scnd-row{
  display: flex;

}
.clm1{
  width:11rem ;
  
  border-width: 1px;
  border-top: white;
  border-left-color: white;
}
.clm2{
  width:11rem ;
 
  border-width: 1px;
  border-top: white;

}
.clm3{
  width:11rem ;

  border-width: 1px;
  border-top: white;
  border-right-color: white;
}
.clm4{
  width:11rem ;
 
  border-width: 1px;
 border-bottom-color: white;
  border-left-color: white;
}
.clm5{
  width:11rem ;

  border-width: 1px;
 border-bottom-color: white;
}
.clm6{
  width:11rem ;

  border-width: 1px;
  border-bottom-color: white;
  border-right-color: white;
}
.clm-title{
  color: #807D7E;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 100% */
letter-spacing: 0.32px;
padding-top: 10px;
display: flex;
align-items: center;
justify-content: center;
}
.clm-discptn{
  margin-top: 10px;
  color: #3C4242;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 16px; /* 100% */
letter-spacing: 0.32px;
display: flex;
align-items: center;
justify-content: center;
}
.similar-prdct{
  display: flex;
  flex-direction: column;
}
.similar-titles{
  display: flex;
  margin-top: 5rem;
}

.similar-images{
  display: flex;
}
.similar-line{
  Width:
  6px;
  Height:
  28px;
  Top:
  1px;
  border-radius:
  10px;
  background-color: #FD7B85;
}
.similar-title{
  color: #3C4242;
font-family: Open Sans;
font-size: 28px;
font-style: normal;
font-weight: 700;
line-height: 33.5px; /* 119.643% */
letter-spacing: 0.56px;
}
.similar-img-brand-price{
  display: flex;
  justify-content: space-between;
}
.similar-img-title{
  color: #3C4242;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.similar-img-brand{
  color: #807D7E;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.similar-img-price{
  color: #3C4242;
text-align: center;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

@media (max-width: 1434px) {
  .size {
    margin: 2rem 0;
    width: 30rem;
  }
  .size h1 {
    margin-right: 1rem;
  }
  .size p {
    margin-left: 1rem;
  }
  .prdct-dtls {
    width: 30rem;
    word-wrap: break-word;
  }
  .first-row{
    display: flex;
    justify-content: center;
  }
  .scnd-row{
    display: flex;
    justify-content: center;
  }
 
}
@media (max-width: 1241px) {
  .description-similar{
    display: flex;
    justify-content:center ;
  }
  .desptn{
    width: 100%;
  }
  .product-description{
    width: 100%;
  }
  .first-row{
    display: flex;
    justify-content: center;
  }
  .scnd-row{
    display: flex;
    justify-content: center;
  }
  .prdct-description-title{
    display: flex;
    justify-content: center;
  }
  .similar-titles{
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .rects {
    display: none;
  }
  .product-details {
    flex-direction: column;
  }
  .product-left,
  .product-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .product-right h1,
  p {
    text-align: center;
  }
  .product-right {
    padding-left: 0;
    margin-top: 1rem;
  }
   .last-prdct-dtls h3 {
    
    width: 27rem;
    
  }
  .prdct-dtls{
  margin: 0 auto;
  margin-top: 1rem;
  }
  .description-similar{
    display: flex;
    justify-content:center ;
  }
  .first-row{
    display: flex;
    justify-content: center;
  }
  .scnd-row{
    display: flex;
    justify-content: center;
  }
  .size{
    display: flex;
    justify-content: center;
  }
  
}
@media (max-width: 768px) {
  .product-details {
    flex-direction: column;
    padding: 0 1rem;
  }
  .product-left,
  .product-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .product-right h1,
  p {
    text-align: center;
  }
  .product-right {
    padding-left: 0;
    margin-top: 1rem;
  }
  .product-image{
    width: 282px;
height: 370px;
  }
  .prdct-t{
    font-size: 25px!important;
  }
  .prdct-star{
    width: 10px;
    height: 10px;
  }
}
@media (max-width: 524px) {
  .product-right h1 {
    font-size: 2rem;
  }
  
  .prdct-dtls {
    width: 17rem;
 
  margin: 0 auto;
    margin-top: 1rem;
  }
  .product-right p {
    font-size: 1rem;
  }
  .color h1 {
    font-size: 1.8rem;
  }
  .color h2 {
    font-size: 1.7rem;
    margin-left: 0.8rem;
  }
  .size {
    margin: 2rem 0;
    width: 17rem;
    word-wrap: break-word;
    flex-direction: column;
  }
  .size h1 {
    font-size: 0.9rem;
    margin-right: 2rem;
  }
 
  .find {
    margin-top: 1rem;
  }
  .addtobag {
    width: 10rem;
    height: 2.5rem;
    font-size: 1rem;
    margin: 0 0.35rem;
  }
  .rate-btn{
    width: 6rem;
    height: 2.5rem;
    font-size: 1rem;
    margin: 0 0.35rem;
 

  }
  .bag{
    margin-top: 2rem;
  }
  .bag img {
    margin-left: 0rem;
    width: 2.5rem;
  }
  .delivery {
   
    
    margin-top: rem;
  }
 
  .delivery p {
    font-size: 0.7rem;
  }
  .delivery a {
    color: #000;
    font-size: 0.7rem;
  }
  .last-prdct-dtls h3 {
    font-size: 0.8rem;
    width: 16rem;
    font-weight: 400;
    margin-top: 0.8rem;
  }
  .next-image {
    width: 2.5rem;
    right: 0.5rem;
  }
  .similar-img-title{
    font-size: 10px;
  }
  .similar-img-brand{
    font-size: 7px;
  }
  .similar-img-price{
    font-size: 7px;
  }
  .similar-image{
    width: 310px;
    height: 200px;

  }
  .similar-product{
    margin-top: -2rem;
  }
  .product-image{

  }
  .prdct-desptn-title,.similar-title{
    font-size: 20px;
  }
  .desptn{
    font-size: 12px;
  }
  .scnd-row{
    margin-top: 1rem;
  }
  .prdct-dtls{
  
  }
}
