.head-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Readex Pro", sans-serif;
  margin-top: .5rem;
}
.title {
  display:flex ;
 font-size: 22.601px;
 align-items: center;
 
 

}
.bst-title{
  color: #045A11 ;

}

.starimg{
  display: flex;
width: 20.91px;
height: 20.265px;
flex-shrink: 0;
margin-left: 10px;


}
.filter{
  display: flex;
border-radius: 10.023px;
width: 7rem;
height: 2rem;
flex-shrink: 0;
background: #FD7B85;
box-shadow: 2.192701578140259px 7.674454689025879px 19.640975952148438px -10.71325969696045px rgba(0, 0, 0, 0.25);
  
}
.filter-icon{
  margin-left: 3px;
  width:20px ;
  margin-left: 1rem;
  margin-top: 4px;
height: 20px;
}
.filter-text{
 
box-shadow: 2.192701578140259px 7.674454689025879px 19.640975952148438px -10.71325969696045px rgba(0, 0, 0, 0.25);
margin-left: 10px;
margin-top: 2px;
color: white;


  

}
.cards{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  flex-wrap: wrap;
  
}
.cards-img{
  width: 320px;
height: 432px;
border-radius: 10px;
object-fit: cover;
}
.offers-section{
  display: flex;
  justify-content: center;
  
}



.image-container {
 
  position: relative;
  max-width: 100%;
  margin-left: -3rem;
  margin-top: 3rem;
  overflow: hidden;
 


}

.ofr-img {
  width: 100%;
  height: auto;
  display: block; 
  object-fit: cover;
  border-radius: 15px;

}
.ofr-title{
  font-size: 22.601px;
  margin-top: .5rem;
     color: #045A11;
}

.ofr-text {
  position: absolute;
bottom: 20%;
left: 50%;
transform: translateX(-50%);
color: white;
font-size: 5vw;

padding: 10px;
border-radius: 5px;
}
.buy-section{
  display: flex;
  flex-wrap: wrap;
}
.cpns{
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
.cpn{
  background-color: #045A11;
  margin-top: 1rem;
  width: 420px;
height: 200px;
text-align: center;

border-radius: 15px;
color: white;
padding-top: 5.5rem;



}
.cpn-img{
  object-fit: cover;

}
.buy{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 889px;
height: 416px;
position: relative;

overflow: hidden;
 

}
.buy-img{
  
 
  display: block; 
  object-fit: cover;
  border-radius: 15px;

}
.buy-text{
  position: absolute;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 5vw;
  
  padding: 10px;
  border-radius: 5px;
}
.collections-cards{
  
  justify-content: center;
  
}
.clc-text{
  color: #045A11;
  margin-top: 2rem;
  font-size: 22.601px;

}
.clc-card{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.clc-img{
  width: 303.099px;
height: 648.82px;
border-radius: 21px;
object-fit: cover;


}



@media(max-width:417px){
  
.head-title{
  padding: 0 0.1rem;
  margin-top: .5rem;
}
.title {
  display:flex ;
 font-size: 15.601px;
 align-items: center;
 
 

}
.filter{
  display: flex;
border-radius: 10.023px;
width: 6rem;
height: 2rem;
flex-shrink: 0;
background: #FD7B85;
box-shadow: 2.192701578140259px 7.674454689025879px 19.640975952148438px -10.71325969696045px rgba(0, 0, 0, 0.25);
  
}
.image-container{
  margin-left: -3rem;
}
.ofr-title{
  font-size: 15px;
}
.cpn{
  width: 150px;
  height: 100px;
  padding-top: 2.5rem;

}
.buy{
  margin-top: -5rem;
}
.collections-cards{
  margin-top: -5rem;
}

}