.star{
   
    display: flex;
    margin-left: 6.5rem;
    margin-top: -1.3rem;   
}
.container{
margin-left: 2rem;
display: flex;
justify-content: center;
flex-wrap: wrap;

}
.head{
    display: inline;
    margin-left: rem;
}
.best{
    font-size: 20px;
    color: #045A11;

font-weight: 400;
margin-left: 3rem;

}
.image{
    width: 337px;
    height:432px;
    top: 427px;
    left: 350px;
    border-radius: 24.99760627746582px;
    object-fit: cover;
    margin-top: 3rem;
    margin-left:rem;
    
}



img{
    background-color: #045A11;
}
.card1{

    margin-left: 2rem;
    border-radius: 24.998px;
}
.card2,.card3,.card4{
    margin-left: 2rem;
    margin-top: 2rem;
   
}
.filter-btn{
    background-color: #FD7B85;
    color: white;
    border: white;
    width: 6rem;
    height: 1.5rem;
    border-radius: 10px;
    margin-right: 2rem;
display: flex;
padding-left:3rem;
font-size: 1.1rem;

}
.ftr-icon{
    margin-left: -7rem;
    padding-left: 3rem;
}
.filter{
    display: flex;
    justify-content: end;
    margin-top: -1.3rem;   
}
.title{
    font-size: 30px;
    color: #045A11;
font-weight: 400;
margin-left: 7rem;
margin-top: rem;

}
.ofr-car{
 
margin-top: 2rem;


}
.off-text{
    font-size: 50px; 
     top: 50%; 
  left: 50%; 
  color: white;
  font-weight: 600;
  transform: translate(-90%, -0%);
    
}
.ofr-head{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -18rem;
}
.ofr-card{
    margin-top: -4rem;
    margin-left: -rem;
}
.offr-crd{
    width: 1358px;
    height: 432px;
    object-fit: cover;
}
.offr-text{
    font-size: 40px;
}

.ofr-img{
    width: 900px;
    height:26rem ;
    position: relative;
    z-index: -1;
    display: flex;
    flex-wrap: wrap;
    object-fit: cover;
    border-radius: 20px;
    margin-top: -10px;
  
}
.smcards{
   display: flex;
   margin-top: -5rem;
   margin-left: 4rem;
   flex-wrap: wrap;
}

.cpn-card{
    width: 420px;
height: 200px;
margin-left: 1rem;
margin-top: 1rem;
padding-top: 5rem;
color: white;
font-size: x-large;
border-radius: 24.998px;
background: #045A11;

text-align: center;
}

.by-crd{
    width: 1358px;
    height: 432px;
    object-fit: cover;

}

.clction-title{
    margin-top: 2rem;
    font-size: 30px;
    color: #045A11;
    margin-left: 5rem;
    font-weight: 400;
}
.clc-img{
    width: 303.099px;
height: 648.82px;
object-fit: cover;
border-radius: 20px;
flex-shrink: 0;

}



@media (max-width: 1385px){
   
    .cpn-card{
        width: 420px;
        height: 200px;
       
        margin-top: -rem;
        
  right: 50%;
  transform: translate(90%, -50%);
        
    }
    
  

}
@media (max-width: 1280px){
    .cards{
        display: flex;
       
        flex-wrap: wrap;
    }
    
    .cpn-card{
        margin-left: rem;
    }
    .ofr-img{
        margin-top: -5rem;
    }
   
    
}
@media (max-width: 1070px){
    
    .smcard{
        margin-top: -5rem;
    }
      .cpn-card{
        width: 420px;
        height: 200px;
       
        margin-top: -rem;

  right: 50%;
  transform: translate(60%, -0%);
        
    }
   
    .offr-crd{
        margin-left: -2rem;
    }
    .ofr-img{
        margin-top: 2rem;
    }
}
@media (max-width: 772px){
    
      .cpn-card{
        width: 420px;
        height: 200px;
       
        margin-top: -rem;
         
  right: 50%;
  transform: translate(20%, -0%);
        
    }
    .smcard{
        margin-top: -5rem;
    }
    .cards{
        display: flex;
        justify-content: center;
    }
    .offr-crd{
        margin-left: -2rem;
    }
}
@media (max-width: 662px){
   .smcard{
    margin-top: -4rem;
   }
    .clction-title{
        margin-left: 10rem;
       
    }
    .title{
        margin-left: 15rem;
    }
     .off-text{
    font-size: 50px; 
     top: 50%; 
  left: 50%; 
  transform: translate(-50%, -0%);
    
}
.ofr-img{
        margin-top: 2rem;
    }
    .ofr-card{
margin-left: -3rem;
    }
    
   .smcards{
    margin-top: -7rem;
   }
    .cpn-card{
        width: 330px;
        height: 150px;
        margin-left: rem;
        margin-top: -rem;
        font-size: 15px;
    }
    .cards{
        margin-top: -4rem;
        margin-left: 5px;
        display: flex;
        justify-content: center;
        
    }
   
}
@media (max-width: 508px){
    .cpn-card{
        width: 330px;
        height: 150px;
        margin-left: -3rem;
        margin-top: -rem;
    }
    .off-text{
    font-size: 50px; 
     top: 50%; 
  left: 50%; 
  transform: translate(-30%, -0%);
    
}
    
    .by-crd{
        width: 400px;
        height: 432px;
        object-fit: cover;
        margin-left: -7rem;
    
    }
    .smcard{
        margin-top: -5rem;
        margin-left: 2rem;
    }
    .clction-title{
        
        margin-left: 10rem;
    }
    
   
    .filter-btn{
        margin-right: -rem;
    }
    .cards{
        margin-top: -4rem;
        margin-left: -1rem;
    }
    
    .offr-crd{
        width: 400px;
        object-fit: cover;
        margin-left: 3rem;
    }



}

@media (max-width: 435px){
    .filter-btn{
        margin-right: -1.5rem;
    }
    .cpn-card{
        margin-left: -6rem;
        margin-top: 3rem;
    }
    .off-text{
    font-size: 30px; 
     top: 50%; 
  left: 50%; 
  transform: translate(40%, -0%);
    
}


}
@media (max-width: 320px){
    .filter-btn{
        margin-right: -2.5rem;
    }
    .cards{
        margin-top: -4rem;
        margin-left: px;
        
    }
     .clc-img{
        margin-left: 2rem;
     }
   
    .offr-crd{
        width: 300px;
        object-fit: cover;
        margin-left: -.5rem;
    }
    .title{
        margin-left: 8rem;
    }
    .clction-title{
       
        margin-left: 4rem;
    }
     .cpn-card{
        margin-left: -9rem;
        margin-top: 3rem;
    }
    
    .ofr-img{
        margin-left: rem;
    }
    .images{
        margin-left: 2rem;
    }
}






